## Import libraries

In [1]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from imblearn.combine import SMOTEENN

In [2]:
df = pd.read_csv("telco_churn.csv")
df.head()

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0

In [3]:
df = df.drop("Unnamed: 0", axis=1)

In [4]:
df.head()

,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,0,1,0,0,1,1,0,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,0,1,1,0,1,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,1,0,1,1,0,1,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,1,0,1,0,1,0,...,0,0,1,0,1,0,0,0,0,0

In [5]:
# Creating X & Y variables

X = df.drop('Churn', axis=1)
X

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,84.80,1990.50,0,1,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,0
7028,0,103.20,7362.90,1,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
7029,0,29.60,346.45,1,0,0,1,0,1,1,...,0,0,1,0,1,0,0,0,0,0
7030,1,74.40,306.60,0,1,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0,0
7031,0,105.65,6844.50,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [6]:
y = df['Churn']
y

0       0
1       0
2       1
3       0
4       1
       ..
7027    0
7028    0
7029    0
7030    1
7031    0
Name: Churn, Length: 7032, dtype: int64

##### Train Test Split

In [7]:
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

### Decision Tree Classifier

In [8]:
model_dt = DecisionTreeClassifier(criterion = 'gini', random_state=100, max_depth=6, min_samples_leaf=8)

In [9]:
model_dt.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [10]:
y_pred = model_dt.predict(X_test)
y_pred

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [11]:
model_dt.score(X_test, y_test)

0.7725657427149965

In [12]:
# recall=TP/TP+FN
# precision=TP/TP+FP
# accuracy=TP+TN/Total 

print(classification_report(y_test, y_pred, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.82      0.87      0.85      1020
           1       0.60      0.51      0.55       387

    accuracy                           0.77      1407
   macro avg       0.71      0.69      0.70      1407
weighted avg       0.76      0.77      0.77      1407

In [13]:
print(metrics.confusion_matrix(y_test, y_pred))

[[891 129]
 [191 196]]

###### As you can see that the accuracy is quite low, and as it's an imbalanced dataset, we shouldn't consider Accuracy as our metrics to measure the model, as Accuracy is cursed in imbalanced datasets.

###### Hence, we need to check recall, precision & f1 score for the minority class, and it's quite evident that the precision, recall & f1 score is too low for Class 1, i.e. churned customers.

###### Hence, moving ahead to call SMOTEENN (UpSampling + ENN(Edited Nearest Neighbours))

In [14]:
sm = SMOTEENN()
X_resampled, y_resampled = sm.fit_resample(X, y)

In [15]:
 Xs_train, Xs_test, ys_train, ys_test = train_test_split(X_resampled, y_resampled, test_size = 0.2)

In [16]:
model_dt_smote = DecisionTreeClassifier(criterion = 'gini', random_state=100, max_depth=6, min_samples_leaf=8)

In [17]:
model_dt_smote.fit(Xs_train, ys_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [18]:
y_pred_smote = model_dt_smote.predict(Xs_test)
y_pred_smote

array([1, 1, 1, ..., 0, 0, 1], dtype=int64)

In [19]:
print(classification_report(ys_test, y_pred_smote, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.96      0.89      0.92       557
           1       0.91      0.96      0.93       620

    accuracy                           0.93      1177
   macro avg       0.93      0.93      0.93      1177
weighted avg       0.93      0.93      0.93      1177

In [20]:
print(metrics.confusion_matrix(ys_test, y_pred_smote))

[[495  62]
 [ 22 598]]

###### Now, we can see quite better results, i.e. Accuracy: 93 %, and a very good recall, precision & f1 score for minority class.

###### Let's try also with some other classifier.

### Random Forest Classifier

In [21]:
from sklearn.ensemble import RandomForestClassifier

In [22]:
model_rf=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100, max_depth=6, min_samples_leaf=8)
model_rf.fit(X_train,y_train)
y_pred_rf = model_rf.predict(X_test)

In [23]:
model_rf.score(X_test,y_test)

0.7903340440653873

In [24]:
print(classification_report(y_test, y_pred_rf, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.81      0.93      0.87      1020
           1       0.69      0.42      0.53       387

    accuracy                           0.79      1407
   macro avg       0.75      0.68      0.70      1407
weighted avg       0.78      0.79      0.77      1407

In [25]:
sm = SMOTEENN()
X_resampled1, y_resampled1 = sm.fit_resample(X, y)

In [26]:
Xs_train1, Xs_test1, ys_train1, ys_test1 = train_test_split(X_resampled1, y_resampled1, test_size = 0.2)

In [27]:
model_rf_smote=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)

In [28]:
model_rf_smote.fit(Xs_train1,ys_train1)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [29]:
yrf_predict1 = model_rf_smote.predict(Xs_test1)

In [30]:
model_score_rf = model_rf_smote.score(Xs_test1, ys_test1)

In [31]:
print(classification_report(ys_test1, yrf_predict1, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.95      0.90      0.93       522
           1       0.92      0.96      0.94       656

    accuracy                           0.94      1178
   macro avg       0.94      0.93      0.93      1178
weighted avg       0.94      0.94      0.94      1178

In [32]:
print(metrics.confusion_matrix(ys_test1, yrf_predict1))

[[470  52]
 [ 24 632]]

###### With RF Classifier, also we are able to get quite good results, in fact better than Decision Tree.

### Performing PCA

In [33]:
# Applying PCA
from sklearn.decomposition import PCA
pca = PCA(0.9)
xrf_train_pca = pca.fit_transform(Xs_train1)
xrf_test_pca = pca.transform(Xs_test1)
explained_variance = pca.explained_variance_ratio_

In [34]:
model=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)

In [35]:
model.fit(xrf_train_pca,ys_train1)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [36]:
yrf_predict_pca = model.predict(xrf_test_pca)

In [37]:
model_score_rf_pca = model.score(xrf_test_pca, ys_test1)

In [38]:
print(model_score_rf_pca)
print(metrics.classification_report(ys_test1, yrf_predict_pca))

0.733446519524618
              precision    recall  f1-score   support

           0       0.73      0.64      0.68       522
           1       0.74      0.81      0.77       656

    accuracy                           0.73      1178
   macro avg       0.73      0.72      0.73      1178
weighted avg       0.73      0.73      0.73      1178

##### With PCA, we couldn't see any better results, hence let's finalise the model which was created by RF Classifier, and save the model so that we can use it in a later stage :)

### Pickling the model

In [39]:
import pickle

In [40]:
filename = 'model.pkl'

In [41]:
pickle.dump(model_rf_smote, open(filename, 'wb'))

In [42]:
load_model = pickle.load(open(filename, 'rb'))

In [43]:
load_model.score(Xs_test1, ys_test1)

0.9354838709677419

##### Our final model i.e. RF Classifier with SMOTEENN, is now ready and dumped in model.pkl, which we will use and prepare API's so that we can access our model from UI.